.framerInfinityMenu {
    width: 90%;
    height: 70vh;
    background-color: darkslateblue;
}

.framer_menu__title {
    background-color: #0d1117;
    text-align: center;
    padding: .4rem 0;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-weight: bold;
}

.framer_menu__container {
    height: 6rem;
    background-color: crimson;
    overflow: hidden;
    position: relative;
    padding: 1rem 0;
    cursor: grab;
}

.framer_menu__container:active {
    cursor: grabbing;
}

.framer_menu__header {
    display: flex;
    gap: 2rem;
    position: absolute;
    will-change: transform;
}

.framer_menu__item {
    min-width: calc((90vw / 4) - 1.5rem);
    flex-shrink: 0;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    user-select: none; /* Prevent text selection while dragging */
}